@import "./reset.scss";

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunSg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunBg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.App {
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.mg {
    margin: 20px 0;
}
body {
    font-family: 'ChosunSg';
    background-color: #eee;
    .header {
        position: relative;
        padding: 20px;
        font-family: 'ChosunBg';
        font-size: 60px;
    }
    .help {
        font-size: 22px;
        position: absolute;
        top: 20px;
        right: -20px;

        &:hover > .tooltip {
            display: block;
        }
        .tooltip {
            border-radius: 30px;
            font-family: 'ChosunSg';
            font-size: 16px;
            padding: 15px;
            position: absolute;
            width: 28vw;
            height: fit-content;
            display: none;
            position: absolute;
            z-index: 200;
            top: 30px;
            word-break: break-all;
            word-spacing: 4px;
            line-height: 19px;
            background-color: #fff;
        }
    }
    .info {
        margin: 8px 0;
        font-weight: 700;
        font-size: 22px;
        span { 
            width: fit-content;
            display: inline-block;
            margin: 6px 12px;
        }
    }
    .cursor {
        cursor: Crosshair;
    }
    .mr {
        display: inline-block;
        margin-right: 20px;
    }
    .alert {
        font-weight: 900;
        color: red;
    }
    input {
        padding: 4px 8px 4px 2px;
        margin:10px 10px 0 0;
        border: none;
        &.button {
            width: 100%;
            height: 60px;
            background-color: #fff;
            font-size: 30px;
        }
        &.input {
            width: 30px;
            margin: 10px 8px 0 8px;
        }
    }
}
.maze-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.maze {
    @media (max-width: 440px) {
        width: 100%;
    }
    border-spacing: 0px;
    border-collapse: separate;
    overflow: hidden;
    td {
        padding: 0;
        div {
            position: relative;
            width: 12px; height: 12px;
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.05px solid rgb(0, 0, 0);
        }
        .big {
            width: 60px; height: 60px;
            @media (max-width: 440px) {
                width: calc(100vw / 7 - 6px);
                height: 30px;
            }
        }
        .bricks {
            background-color: rgb(201, 201, 201);
        }
        .wall {
            width: 10px;
            height: 10px;
            background-color: rgb(201, 201, 201);
            &.row {
                width: auto;
                border-top: 1px solid rgb(201, 201, 201);
                border-bottom: 1px solid rgb(201, 201, 201);
                border-left:none;
                border-right:none;
            }
            &.col {
                border-bottom: 1px solid rgb(201, 201, 201);
                border-top: 1px solid rgb(201, 201, 201);
                border-left:none;
                border-right:none;
            }
        }
        .now {
            width: 6px;
            height: 6px;
            background-color: rgba(255, 255, 54, 0.882);
            border-radius: 50px;
            border: none;
            &.big {
                width: 30px;
                height: 30px;
                @media (max-width: 440px) {
                    width: 15px;
                    height: 15px;
                }
            }
          
        }
        .line {
            background-color: rgba(92,19,19, 0.8);
            border: 0.05px solid #000
        }
        .points {
            display: inline-block;
            font-size: 1px;
            color: #fff;
            &.big {
                position: relative;
                font-size: 30px;
                @media (max-width: 440px) {
                    font-size: 16px;
                }
                &::before {
                    position: absolute;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}